@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  --shadow-color: 286deg 2% 23%;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}

.title {
  text-align: center;
  text-shadow: 5px 5px 10px rgba(22, 19, 22, 0.4);
}

@media (min-width: 768px) {
  .title {
    font-size: 3rem;
  }
}

form {
  margin-bottom: 1.5rem;
}

input {
  width: 100%;
  height: 20px;
  padding: 1rem;
}

input:focus {
  outline: none;
}

@media (min-width: 480px) {
  .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
}

@media (min-width: 768px) {
  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

.card {
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
  text-align: center;
  box-shadow: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

.img-card {
  width: 100%;
  height: 250px;
}
